In [43]:
import csv
import xml.etree.ElementTree as et
import numpy as np
from datetime import datetime as dt
import requests
import pandas as pd

In [70]:
parsedXML = et.parse("f24-1-2014-791117-eventdetails-example-with-penalty-shootout.xml")
dfcols = ['id', 
          'event_id', 
          'type_id', 
          'period_id', 
          'min', 
          'sec', 
          'team_id', 
          'outcome', 
          'x', 
          'y', 
          'timestamp',
          'date',
          'time',
          'last_modified']
df_xml = pd.DataFrame(columns=dfcols)

In [73]:
for child in parsedXML.getroot():
    for grchild in child:
        first_id = grchild.attrib.get('id')
        event_id = grchild.attrib.get('event_id')
        type_id = grchild.attrib.get('type_id')
        period_id = grchild.attrib.get('period_id')
        minute = grchild.attrib.get('min')
        second = grchild.attrib.get('sec')
        team_id = grchild.attrib.get('team_id')
        outcome = grchild.attrib.get('outcome')
        x = grchild.attrib.get('x')
        y = grchild.attrib.get('y')
        timestamp = grchild.attrib.get('timestamp')
        date = timestamp.split("T")[0]
        time = str(timestamp.split("T")[1]).split(".")[0]
        last_modified = grchild.attrib.get('last_modified')
        
        df_xml = df_xml.append(
            pd.Series([first_id,
                       event_id,
                       type_id,
                       period_id,
                       minute,
                       second,
                       team_id,
                       outcome,
                       x,
                       y,
                       timestamp,
                       date,
                       time,
                       last_modified], index=dfcols),
            ignore_index=True)

In [74]:
df_xml.head()

,id,event_id,type_id,period_id,min,sec,team_id,outcome,x,y,timestamp,date,time,last_modified
0,284008819,1,34,16,0,0,11,1,0.0,0.0,2015-01-13T18:47:46.560,2015-01-13,18:47:46,2015-01-13T19:49:16
1,1339723066,1,34,16,0,0,21,1,0.0,0.0,2015-01-13T18:51:04.720,2015-01-13,18:51:04,2015-01-13T19:44:07
2,958764708,2,32,1,0,0,11,1,0.0,0.0,2015-01-13T19:45:29.552,2015-01-13,19:45:29,2015-01-13T19:45:29
3,839506542,2,32,1,0,0,21,1,0.0,0.0,2015-01-13T19:45:29.552,2015-01-13,19:45:29,2015-01-13T19:45:29
4,539329697,3,1,1,0,1,11,1,50.0,49.9,2015-01-13T19:45:30.552,2015-01-13,19:45:30,2015-01-14T08:57:12

In [75]:
games = parsedXML.getroot()
match_details = games[0].attrib
match_details

{'away_team_id': '11',
 'away_team_name': 'Everton',
 'competition_id': '1',
 'competition_name': 'English FA Cup',
 'game_date': '2015-01-13T19:45:00',
 'home_team_id': '21',
 'home_team_name': 'West Ham United',
 'id': '791117',
 'matchday': '3',
 'period_1_start': '2015-01-13T19:45:29',
 'period_2_start': '2015-01-13T20:47:27',
 'period_3_start': '2015-01-13T21:41:11',
 'period_4_start': '2015-01-13T21:59:45',
 'period_5_start': '2015-01-13T22:22:06',
 'season_id': '2014',
 'season_name': 'Season 2014/2015'}

In [76]:
game_title = '{0}_v_{1}__{2}'.format(match_details['home_team_name'].replace(" ", ""), 
                                     match_details['away_team_name'].replace(" ", ""), 
                                     match_details['game_date'].replace(":","")); game_title

'WestHamUnited_v_Everton__2015-01-13T194500'

In [77]:
df_xml.to_csv(game_title+".csv")